:root{
  --primary: #0D6EFD;
  --secondary: #6C757D;
  --success: #198754;
  --danger: #DC3545;
  --warning: #FFC107;
  --info: #0DCAF0;
  --light: #F8F9FA;
  --dark: #212529;
}

.content-header,
.content {
  width: 100%;
  margin: 0 auto;
}

.content .card .card-icon i {
  opacity: 0.4;
}

