:root {
	--primary: #0d6efd;
	--secondary: #6c757d;
	--success: #198754;
	--danger: #dc3545;
	--warning: #ffc107;
	--info: #0dcaf0;
	--light: #f8f9fa;
	--dark: #212529;
}

table tbody img {
	max-width: 110px;
	max-height: 80px;
}

table thead th {
	font-weight: 500;
	font-size: 1.1rem;
}

table tbody td #btn-edit i,
table tbody td #btn-delete i,
table tbody td #btn-view i,
.product_detail .modal-footer #btn-edit i,
.product_detail .modal-footer #btn-delete i {
	transition: all 0.1s ease-in-out;
}

table tbody td #btn-edit:hover i,
.product_detail .modal-footer #btn-edit:hover i {
	color: var(--warning);
}

table tbody td #btn-view:hover i {
	color: var(--info);
}

table tbody td #btn-delete:hover i,
.product_detail .modal-footer #btn-delete:hover i {
	color: var(--danger);
}

#imgControl,
#imgControl #imgUpload {
	margin: 0;
	max-width: 470px;
	max-height: 330px;
}
#imgControl #imgUpload {
	object-fit: cover;
	overflow: hidden;
}

.switch {
	position: relative;
	display: inline-block;
	width: 80px;
	height: 30px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ca2222;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 23px;
	width: 23px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

input:checked + .slider {
	background-color: #2ab934;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(50px);
	-ms-transform: translateX(50px);
	transform: translateX(50px);
}

/*------ ADDED CSS ---------*/
.on {
	display: none;
}

.on,
.off {
	color: white;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 60%;
	font-size: 12px;
	font-family: Verdana, sans-serif;
}

input:checked + .slider .on {
	display: block;
	left: 40%;
}

input:checked + .slider .off {
	display: none;
}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.product_detail .card img.img-thumbnail {
	object-fit: cover;
	overflow: hidden;
	max-height: 40rem;
	min-height: 30rem;
	height: 35rem;
	width: 100%;
}

.product_detail .card .footer input[type="number"] {
	width: 6rem;
}

.product_detail .card .footer .rounded-circle:hover {
	border: 1px solid red;
	background-color: red;
}

.product_detail .card .detail1 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 18;
	/* number of lines to show */
	-webkit-box-orient: vertical;
}

.product_detail .card .detail1,
.product_detail .card .detail2 {
	line-height: 1.7rem;
}

.slider.round:before {
	border-radius: 50%;
}

.ck-editor__editable {
  min-height: 200px;
	border-bottom-left-radius: 0.25rem!important;
	border-bottom-right-radius: 0.25rem!important;
}

.ck-toolbar {
  border-top-left-radius: 0.25rem!important;
	border-top-right-radius: 0.25rem!important;
}

@media (max-width: 500px) {
	#imgControl #imgUpload {
		max-width: 300px;
		max-height: 200px;
	}
	.product_detail .card img.img-thumbnail {
		height: 25rem!important;
	}
}

@media (max-width: 320px) {
	#imgControl #imgUpload {
		max-width: 140px;
		max-height: 100px;
	}
	.product_detail .card img.img-thumbnail {
		height: 20rem!important;
	}
}
