:root{
  --primary: #0D6EFD;
  --secondary: #6C757D;
  --success: #198754;
  --danger: #DC3545;
  --warning: #FFC107;
  --info: #0DCAF0;
  --light: #F8F9FA;
  --dark: #212529;
}

table tbody img {
	max-width: 110px;
	max-height: 80px;
}

table thead th {
  font-weight: 500;
  font-size: 1.1rem;
}

table tbody td #btn-edit i,
table tbody td #btn-delete i {
  transition: all 0.1s ease-in-out;
}

table tbody td #btn-edit:hover i{
  color: var(--warning);
}

table tbody td #btn-delete:hover i{
  color: var(--danger);
}

#imgControl,
#imgControl #imgUpload {
	margin: 0;
	max-width: 470px;
	max-height: 330px;
}
#imgControl #imgUpload {
	object-fit: cover;
	overflow: hidden;
}
@media (max-width: 500px) {
	#imgControl #imgUpload {
		max-width: 300px;
		max-height: 200px;
	}
}

@media (max-width: 320px) {
	#imgControl #imgUpload {
		max-width: 140px;
		max-height: 100px;
	}
}
