.all_product .card input[type=text]::placeholder {
  font-size: 1rem;
  opacity: .8;
}

.all_product .all_product_list .card a {
	overflow: hidden;
}
.all_product .all_product_list .card a img {
	height: 19rem;
	min-height: 13rem;
	object-fit: cover;
	overflow: hidden;
	transition: all 0.6s ease-in-out;
}

.all_product .all_product_list .card:hover a img {
	transform: scale(1.1);
}

.all_product .all_product_list .card .position-absolute {
	border-radius: 0;
	font-size: 1rem;
	font-weight: 500;
	top: 0;
	right: 0;
}

.form-switch input.form-check-input {
  box-shadow: none
}

.form-switch input.form-check-input:checked {
  border-color: #198754;
  background-color: #198754;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

