a {
	text-decoration: none;
}
ul li {
	list-style: none;
}
.container-fluid {
	padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
	font-family: "Kanit", sans-serif;
}
.top_bar {
	border-bottom: 1px solid rgb(221, 221, 221);
	font-size: 0.8rem;
}

.navbar span.text-primary {
  margin-left: -6px;
}
.navbar a.cart {
	width: 2.7rem;
	height: 2.7rem;
}
.navbar a.cart > span.position-absolute {
	font-size: 0.85rem;
	font-weight: 500;
	top: 1px;
	right: -20px;
	padding: 4px 6px;
}

.navbar .dropdown .dropdown-toggle img {
	width: 3.4rem;
	height: 3.4rem;
}


#BackToTop {
  display: inline-block;
  background-color: #0167f3;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 3px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 10000;
}

#BackToTop i {
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: .8;
}
#BackToTop:hover {
  cursor: pointer;
  background-color: #333;
}
#BackToTop.show {
  opacity: .6;
  visibility: visible;
}

.all_product .card input[type=text]::placeholder {
  font-size: 1rem;
  opacity: .8;
}

.all_product .all_product_list .card a {
	overflow: hidden;
}
.all_product .all_product_list .card a img {
	height: 19rem;
	min-height: 13rem;
	object-fit: cover;
	overflow: hidden;
	transition: all 0.6s ease-in-out;
}

.all_product .all_product_list .card:hover a img {
	transform: scale(1.1);
}

.all_product .all_product_list .card .position-absolute {
	border-radius: 0;
	font-size: 1rem;
	font-weight: 500;
	top: 0;
	right: 0;
}

.form-switch input.form-check-input {
  box-shadow: none
}

.form-switch input.form-check-input:checked {
  border-color: #198754;
  background-color: #198754;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

