
.cart table img {
  max-width: 6rem;
  max-height: 6rem;
  width: 5.3rem;
  height: 5.3rem;
  overflow: hidden;
  object-fit: cover;
}

.cart table input[type=number] {
  width: 5rem;
}

.cart table thead th {
  font-size: 1.1rem;
  font-weight: 500;
}