

.product_detail .card img.img-thumbnail {
  object-fit: cover;
  overflow: hidden;
  max-height: 40rem;
  min-height: 30rem;
  height: 40rem;
  width: 100%;
}

.product_detail .card .footer input[type=number] {
  width: 6rem;
}

.product_detail .card .footer .rounded-circle:hover {
  border: 1px solid red;
  background-color: red;
}

.product_detail .card .detail1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 13;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.product_detail .card .detail1,
.product_detail .card .detail2 {
  line-height: 1.7rem;
}