

.wishlist .card input[type=text]::placeholder {
  font-size: 1rem;
  opacity: .8;
}

.wishlist .wishlist_list .card a {
	overflow: hidden;
}
.wishlist .wishlist_list .card a img {
	height: 19rem;
	min-height: 13rem;
	object-fit: cover;
	overflow: hidden;
	transition: all 0.6s ease-in-out;
}

.wishlist .wishlist_list .card:hover a img {
	transform: scale(1.1);
}

.wishlist .wishlist_list .card .position-absolute {
	border-radius: 0;
	font-size: 1rem;
	font-weight: 500;
	top: 0;
	right: 0;
}

